
page-constructor-profile {
    .pageBg{
      background-color: #002B36;
      align-content: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-size: 10pt;
    }
      .profile-image-wrapper {
          text-align: center;
          margin-top: 10px;
          margin-bottom: 10px;
          margin-left: 0px;
          margin-right: 0px;
          .profile-image {
            width:  280px;
            height: 200px;
            border-radius: 10px;    
            display: inline-block;    
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }
      
          .profile-image-placeholder {
            display: inline-block;    
            background-color: #2E281E;
            width:  280px;
            height: 200px;
            border-radius: 10px;    
            font-size: 15px;
            color: wheat;
            ion-icon {
              font-size: 44px;
              margin-bottom: -10px;
              margin-top: 10px;
            }
          }
        }
        .icon {
            color: #D6AB1D;
            font-size: 16px;
            }
    img{
        height:150px;
        width:150px;
        border-radius: 50%;
    }
    .list{
        margin-top: 20px;
    }
    .segment-button {
        border-style: none;
        border-color: #e62100;
        color: #e62100;
        border-width: thin;
    }
    .toggle input + .track{
      background-color: #ef473a;
    }
    .profDiv{
      box-shadow: 2px;
      background: rgba(97, 51, 51, 0.8);
      border-radius: 10px;
      margin: 10px;
      padding: 20px;
     
    }
    styleStatus{
      border-radius: 10px;
    }
   
    
    p{      
      height: 45px;
      margin: 0;
    }
    .ico{
      font-size: 25px;
      color: rgb(17, 212, 105);
    }
    
    
  }
  