<!--
  Generated template for the ConstructorProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton color="secondary">
    <ion-title>
      Service Provider
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="pageBg">
  <ion-segment [(ngModel)]="ConstructorMenu" color="primary">
    <ion-segment-button value="profile">
      <ion-icon md="md-contact" name="contact"></ion-icon>
    </ion-segment-button>
    <ion-segment-button (click)=" getRequests()" value="home">
      <ion-icon name="home"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="services">
      <ion-icon md="md-hammer" name="hammer"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="settings" color="secondary">
      <ion-icon name="settings"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <!--_________________Profile tab_____________-->
  <div [ngSwitch]="ConstructorMenu">
    <ion-list *ngSwitchCase="'profile'">
      <div class="profDiv" *ngIf="userData">
        <img class="Style_img" src="../assets/img/profile.jpg">
        
        <h3 style="color:rgb(245, 245, 245);">{{userData.FirstName}} {{userData.LastName}}</h3>
        <p style="color:rgb(221, 177, 16); font-size:13pt"><ion-icon class="ico" name="mail"></ion-icon>  {{userData.Username}}</p>
        <p style="color:rgb(221, 177, 16); font-size:13pt"><ion-icon class="ico" name="pin"></ion-icon>  {{userData.MailingAddress}}</p>
        <p style="color:rgb(221, 177, 16); font-size:13pt"><ion-icon class="ico" name="phone-portrait"></ion-icon>  {{userData.Telephone}}</p>
        <p style="color:rgb(221, 177, 16); font-size:13pt"><ion-icon class="ico" name="bulb"></ion-icon>  {{userData.Bio}}</p>
        <p style="color:rgb(221, 177, 16); font-size:13pt"><ion-icon class="ico" name="tablet-landscape"></ion-icon>  {{userData.CompanyName}}</p>
        <p style="color:rgb(221, 177, 16); font-size:13pt"><ion-icon class="ico" name="ribbon"></ion-icon>  {{userData.CompanyRegNo}}</p>

        <ion-grid>
            <ion-row>
              <ion-col style="background-color:rgb(241, 234, 237);  font-size:12pt" >Freelancer</ion-col>
              <ion-col style="background-color:rgb(0, 0, 0); font-size:12pt"><ion-icon  name="star"></ion-icon><ion-icon  name="star"></ion-icon><ion-icon  name="star"></ion-icon><ion-icon  name="star"></ion-icon></ion-col>
            </ion-row>
           
          </ion-grid>
      </div>
    </ion-list>



    <!--_________________Home tab_____________-->
    <ion-list *ngSwitchCase="'home'">
      <ion-item>
          <p>New requests</p>
          <div *ngIf = "requests">
              <ion-list>
              <ion-item *ngFor = "let req of requests">
                <ion-avatar item-start>
                  <img src= "../assets/img/User.png">
                </ion-avatar>
                <h2>{{ req.CusName }}</h2>
                <p><ion-badge item-right>{{ req.Time }}</ion-badge></p>                
                <ion-badge item-right>
                  <button ion-button (click) =  "moreSearchData(req.Id)">Details>></button></ion-badge>
              </ion-item>
            </ion-list>
          </div>
      </ion-item>
      <ion-item>
          <p>Accepted requests</p>
      </ion-item>
    </ion-list>

    <!--_________________Sevices tab_____________-->
    <ion-list *ngSwitchCase="'services'">
      <ion-card>
        <ion-list>
          <ion-item class="styleStatus">
            <ion-label>Status</ion-label>
            <ion-toggle class="toggle" [(ngModel)]="status"></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-card>


      <ion-card>

        <ion-card-content>
          <ion-card-title>
            My services
          </ion-card-title>
          <p>
            The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
          </p>
          <button ion-button icon-start (click)="addService()">
            <ion-icon name="add-circle"></ion-icon>
            new service
          </button>
        </ion-card-content>
      </ion-card>

    </ion-list>

    <!--_________________Settings tab_____________-->
    <ion-list *ngSwitchCase="'settings'">

      <form *ngIf="form" [formGroup]="form" (ngSubmit)="postUpadtedProfile()">
        <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
        <div class="profile-image-wrapper" (click)="getPicture()">
          <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
            <ion-icon name="add"></ion-icon>
            <div>
              choose profile picture
            </div>
          </div>
          <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
        </div>

        <ion-card>

          <ion-card-content>

            <ion-list>
              <ion-item>
                <ion-label floating>First Name</ion-label>
                <ion-input formControlName="FirstName" type="text" value='{{userData.FirstName}}'>{{userData.FirstName}}</ion-input>
              </ion-item>
              <ion-item>
                <ion-label floating>Last Name</ion-label>
                <ion-input formControlName="LastName" type="text" value='{{userData.LastName}}'></ion-input>
              </ion-item>
              <ion-item>
                <ion-label floating>Mailing Address</ion-label>
                <ion-input formControlName="MailingAddress" type="text" value='{{userData.MailingAddress}}'></ion-input>
              </ion-item>
              <ion-item >                     
                  <ion-label floating>Mobile Number</ion-label>
                  <ion-input formControlName="Telephone" value='{{userData.Telephone}}' type="number"></ion-input>
                </ion-item>
              <ion-item>
                <ion-label floating>Short Bio</ion-label>
                <ion-textarea formControlName="Bio" type="text" value='{{userData.Bio}}'></ion-textarea>
              </ion-item>
              
              <ion-item>
                <ion-label floating>Current Address</ion-label>
                <ion-input formControlName="BasedCity" value='{{userData.BasedCity}}' type="text"></ion-input>
              </ion-item>
             
              <ion-item>
                <button ion-button color="secondary"  block type="submit">Save</button>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </form>



    </ion-list>
  </div>

</ion-content>