
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Progress</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="pageBg">
    <div class="profDiv">
        <ion-list>
          <div *ngIf="Data">
            <h4 style="color:rgb(255, 255, 255);">Provider : {{Data.User}}</h4>
            <h3 style="color:rgb(197, 190, 183); font-size:14pt">{{Data.Rating}} <ion-icon style="color:rgb(221, 177, 16); font-size:17pt"  name="star"></ion-icon></h3>
            <ion-grid>
    
              <ion-row>
                <ion-col col-9 push-1>
                  <p style="color:rgb(197, 190, 183); font-size:14pt">
                    On {{dateTime.date}} at {{dateTime.time}}
                  </p>
                </ion-col>
                <ion-col col-1 pull-9>
                  <p style="color:rgb(221, 177, 16); font-size:17pt">
                    <ion-icon class="ico" name="clock"></ion-icon>
                  </p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-9 push-1>
                  <p style="color:rgb(197, 190, 183); font-size:14pt">
                    {{Data.job}}
                  </p>
                </ion-col>
                <ion-col col-1 pull-9>
                  <p style="color:rgb(221, 177, 16); font-size:17pt">
                    <ion-icon class="ico" name="hammer"></ion-icon>
                  </p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-9 push-1>
                  <p style="color:rgb(197, 190, 183); font-size:14pt">
                    {{Data.address}}
                  </p>
                </ion-col>
                <ion-col col-1 pull-9>
                  <p style="color:rgb(221, 177, 16); font-size:17pt">
                    <ion-icon class="ico" name="mail-open"></ion-icon>
                  </p>
                </ion-col>
              </ion-row>
              <ion-row>
                
              </ion-row>
            </ion-grid>
          </div>
        </ion-list>
      </div>
    
      <div style="display: block"  class="text">
          <canvas *ngIf="progressHistory" baseChart width="300" height="400"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          ></canvas>
        </div>

        <ion-grid>
          <ion-row>
            <ion-col><button ion-button [disabled]="isFinishPressed"   height="40px" color="secondary" (click)="openMenu()" block>Finish</button>
            </ion-col>
           
          </ion-row>
        </ion-grid>
</ion-content>
