page-forgot-password {
    .pageBg{
        background-color: #002B36;
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 10pt;
     }
     .hint{
         justify-content: space-around;
         background-color: rgb(209, 204, 198);
         padding: 20px;
         margin:5%;
         border-radius: 20px;
         width: 90%;
     }
     .text{
        text-align: center;
        background-color: rgb(255, 255, 255);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 23%;
        margin:5%;
        border-radius: 20px;
        width: 90%;
     }
     p{
        justify-content: space-around;
        font-size: 13pt;
        color: rgb(12, 12, 12);
     }
     input{
        font-weight: bold;
     }
     .label{
        font-weight: bold;
        font-size: 14pt;
        color: black;
     }
    .button{
         width: 90%;
         margin-left: 5%;
         font-size: 13pt;
     }
     .text-input{
         font-size: 14pt;
         
         
     }
     img{
        height: 130px;
        width: 130px;
     }
}
