page-payments {
    .pageBg{
        background-color: #002B36;
    }
    .hint{
        justify-content: space-around;
        background-color: rgb(209, 204, 198);
        padding: 20px;
        margin:5%;
        border-radius: 20px;
        width: 90%;
    }
}
