<ion-header>
  <ion-navbar color="secondary">
    <ion-title color="white">
      ConstructionLK
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content scroll="false" class="pageBg">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
  </div>

  <ion-card>

    <ion-card-content>
      <form [formGroup]="FrmLogin" (ngSubmit)="postLogin(FrmLogin)">

        <ion-list>
          <ion-item>
            <ion-input type="text" placeholder="Username" formControlName="Username"></ion-input>
          </ion-item>
          <ion-item *ngIf="FrmLogin.get('Username').hasError('pattern') && FrmLogin.get('Username').touched">
            <p class="error" *ngIf="FrmLogin.get('Username').hasError('pattern') && FrmLogin.get('Username').touched">Sorry, Insert valid email!</p>
          </ion-item>

          <ion-item *ngIf="FrmLogin.get('Username').hasError('required') && FrmLogin.get('Username').touched">
            <p class="error" *ngIf="FrmLogin.get('Username').hasError('required') && FrmLogin.get('Username').touched">Sorry, field Password is required!</p>
          </ion-item>

          <ion-item>
            <ion-input type="password" placeholder="Password" formControlName="Password"></ion-input>
          </ion-item>
          <ion-item *ngIf="FrmLogin.get('Password').hasError('required') && FrmLogin.get('Password').touched">
            <p class="error" *ngIf="FrmLogin.get('Password').hasError('required') && FrmLogin.get('Password').touched">Sorry, field Address is required!</p>
          </ion-item>

        </ion-list>

        <ion-list>
          <button ion-button class="btn" color="dark" block type="submit" [disabled]="!FrmLogin.valid">Login</button>

        </ion-list>

      </form>
      <p class="p">OR</p>
      <button ion-button block icon-left color="facebook" >
         
        <ion-icon name="logo-facebook"></ion-icon>
         Login with facebook
      </button>
     
      <a class="a">Forgot your login details?</a>
      <button ion-button clear class="btn" (click)="signup()" type="submit">create a new account</button>
    </ion-card-content>
  </ion-card>

</ion-content>