page-sign-up {
    .pageBg{
        background-color: #002B36;
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 10pt;
     }
     .divGend{
         margin-left: 10px;
         margin-right: 10px;
     }
     scroll-content {
        overflow-y: auto;
     }
     ion-card.card{
        box-shadow: 2px;
        background: rgba(206, 109, 109, 0.5);
        border-radius: 5px;
        font-size: 10pt;     
      }
      p{    
        text-align: center;
        padding: 3px;
        color:rgb(175, 13, 13);  
    
      }
      .item{
          border: 0px;
      }
      
    
    }
