page-service-details {
    .pageBg{
        background-color: #002B36;
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 10pt;
     }
     ion-col{
         height: 40px;
     }
    .col1{
        color:rgb(0, 0, 0);
         font-size:13pt;
    }
    .col2{
        color:#ff714a;
        font-size:12pt;
    }
    .editBtn{
        width: 90%;
        margin : 5%;
        height : 40px;
    }
    .item{
        background-color: rgb(170, 210, 248);
    }
    .profDiv{
        height: auto;
        //box-shadow: 2px;
        background: rgb(170, 210, 248);
        border-radius: 10px;
        margin: 10px;
        padding: 20px;
        padding-bottom: 10px;
    }
    #map {
        //width: 98%;
        height: 50%;
        margin:10px;
        margin-top: 1%;
        border-radius: 10px;
        position: relative;
        border-radius: 10px;
    }
   
    h3{
        color:rgb(221, 177, 16); 
    }
    h2{
        color:rgb(54, 82, 23);
    }
}
