page-search-result {
    .pageBg{
        background-color: #E9A719;
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 10pt;
     }
}
