page-search-result {
    .pageBg{
        background-color: #002B36;
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 10pt;
     }
     img{
         margin: auto;
         margin-top:20px; 
         height: 100px;
         width: 100px;
    }
}
