<!--
  Generated template for the AddServicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Add New-Service</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding  class="pageBg">
  <div>
    <form (ngSubmit)="logForm()">
      <ion-list>
        <ion-item>
          <ion-label color="primary" stacked>Item Name</ion-label>
          <ion-input type="text" placeholder="eg:Bawa Plumbing" [(ngModel)]="FrmAddNewService.txtItemName" name="txtItemName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked>Item Code</ion-label>
          <ion-input type="text" placeholder="Unique code" [(ngModel)]="FrmAddNewService.txtItemCode" name="txtItemCode"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked>Super catagory ID</ion-label>
          <ion-select multiple="false" (ionChange)="onChange(FrmAddNewService.txtsupCatagory)" [(ngModel)]="FrmAddNewService.txtsupCatagory" name="txtsupCatagory" *ngIf = "supCatagory">
              <ion-option *ngFor = "let sup of supCatagory" value='{{sup.SupId}}'> {{sup.SupName}}</ion-option>           
            </ion-select>
        </ion-item>
        <ion-item *ngIf = "FrmAddNewService.txtsupCatagory">
          <ion-label  color="primary" stacked>Sub catagory ID</ion-label>
          <ion-select  multiple="false"  *ngIf = "subCatagory" [(ngModel)]="FrmAddNewService.txtsubCatagory" name="txtsubCatagory" >
              <ion-option *ngFor = "let sub of subCatagory" value='sub.SubId'> {{sub.SubName}}</ion-option>           
            </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked >Description</ion-label>
          <ion-textarea placeholder="Enter a description"  [(ngModel)]="FrmAddNewService.txtDescription" name="txtDescription" ></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked>Location</ion-label>
          <ion-input type="text" placeholder="Available City"  [(ngModel)]="FrmAddNewService.txtLocation" name="txtLocation"></ion-input>
        </ion-item>
        
          <ion-item>
            <button ion-button height="45px" color="secondary"  block type="submit">ADD</button>
          </ion-item>
      </ion-list>
    </form>
  </div>
  <button ion-button color="danger" (click)="getGeo()" > GetGeo </button>
</ion-content>